:root{
    --primary-dark  : rgb(42, 42, 42);
    --secondary-dark: rgb(81, 81, 81);
    --tertiary-dark : rgb(63, 63, 63);
}

.file-config-popup{
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    width: 30%;
    min-height: 200px;
    height: 35%;
}

.folder-config-popup > p, .dir-config-popup > p{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
}

.folder-config-popup, .dir-config-popup{
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    width: 30%;
    min-height: 100px;
    height: 25%;
}

.folder-config-popup > input, .dir-config-popup > input, .folder-config-popup > select{
    width: 75%;
    margin-bottom: 10px;
}

.folder-config-popup > button{
    height: 25%;
    margin: 10px;
    width: 50%;
}

.file-config-popup > p{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 5px;
}

.file-config-popup > select{
    width: 75%;
    margin-bottom: 10px;
}

.file-config-popup > button{
    height: 15%;
    margin: 10px;
    width: 50%;
}

.input-select{
    background-color: var(--primary-dark);
    outline: transparent;
    color: white;
    cursor: pointer;
    height: fit-content;
    padding: 3px;
    border: 2px solid var(--secondary-dark);
    border-radius: 10px;
}

.input-text{
    background-color: var(--primary-dark);
    border: 2px solid var(--secondary-dark);
    color: white;
    border-radius: 10px;
    height: 1rem;
    outline: none;
    padding: 5px;
}