:root{
    --primary-dark  : rgb(42, 42, 42);
    --secondary-dark: rgb(81, 81, 81);
    --tertiary-dark : rgb(63, 63, 63);
}

html, body{
    margin: 0;
    height: 100%;
    font-family: Arial;
    color:white;
    background-color: black;
    user-select: none;
}

p{
    margin: 0;
}

.border-hover-secondary{
    border-radius: 10px;
}

.border-hover-secondary:hover{
    cursor: pointer;
    background-color: var(--secondary-dark);
}

.file-list-item{
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s;
    padding: 10px 5px;
}

.file-list-item{
    display: flex;
    align-items: center;
}

.file-list-item-fav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
}

.file-list-item > div{
    width: 50%;
}

.file-list-item > div > p {
    user-select: none;
}

/* -- Folder Column -- */
.folder-element{
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
    height: clamp(50px, 7.5%, 75px);
    overflow: hidden;
}

.folder-element > img{
    max-height: 100%;
}

.active-text{
    color: green !important;
}

.active-element{
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--tertiary-dark);
}

/* -- Home Bar -- */
.home-bar{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    height: 30px;
}

.home-button, .search-bar{
    height: 100%;
    display: flex;
    justify-content: center;
}

.home-button{
    max-width: 100px;
    width: 20%;
    min-width: 50px;
}
.home-button-small{
    width: 50%;
}

.home-button > img, .search-bar > img{
    height: 100%;
    width: fit-content;
}

.search-bar{
    display: flex;
    position: relative;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.search-bar > input{
    width: 70%
}

.search-bar-medium{
    justify-content: center;
}
.search-bar-medium > input{
    display: none;
}

.home-bar-small{
    flex-direction: column;
    height: 80px;
}

.home-bar-small > div:nth-child(1){
    padding: 0px 2px 5px;
}
.home-bar-small > div:nth-child(2){
    height: 50%;
    padding: 5px 2px 0px;
}

.home-button > img, .search-bar-medium > img{
    transition: all 0.05s;
    cursor: pointer;
}

.home-button > img:hover, .search-bar-medium > img:hover{
    scale: 1.1;
}

.like-icon{
    transition: scale 0.05s;
    height: 25px;
}

.like-icon:hover{
    cursor: pointer;
    scale: 1.1;
}

.like-icon:active{
    scale: 1;
}

/* -- Search Popup -- */
.search-popup-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transition: top 0.25s, opacity 0.65s;
    transform: translate(-50%, -50%);
    opacity: 0;
    top:-100%;
    left: 50%;
    background-color: var(--primary-dark);
    border: 3px solid var(--secondary-dark);
    border-radius: 20px;
    height: 3.5rem;
    width: 50%;
    padding: 0px 5px 0px
}

.search-popup-show{
    opacity: 1;
    top: clamp(50px, 5vh, 10%);
}

.search-popup-frame > input{
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
    width: 92.5%;
    height: 60%;
    font-size: 1.1rem;
}

.search-popup-frame > img{
    transition: scale 0.05s;
    height: 60%;
}

.search-popup-frame > img:hover{
    cursor: pointer;
    scale: 1.1;
}

.search-popup-frame > img:active{
    scale: 1;
}

.lowlight-frame{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}