:root{
    --primary-dark: -1;
    --secondary-dark: rgb(81, 81, 81);
    --tertiary-dark : rgb(63, 63, 63);
}

html, body{
    margin: 0;
    height: 100%;
    font-family: Arial;
    color:white;
    background-color: black;
    user-select: none;
}

p{
    margin: 0;
}

.border-hover-secondary:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--secondary-dark);
}

.file-list-item{
    display: flex;
    flex-direction: row;
    transition: background-color 0.1s;
    padding: 10px 5px;
}

.file-list-item{
    display: flex;
    align-items: center;
}

.file-list-item-fav{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
}

.file-list-item > div{
    width: 50%;
}

.file-list-item > div > p {
    user-select: none;
}

/* -- Folder Column -- */
.folder-element{
    display: flex;
    align-items: center;
    transition: background-color 0.1s;
    height: clamp(50px, 7.5%, 75px);
    overflow: hidden;
}

.folder-element > img{
    max-height: 100%;
}

.active-text{
    color: green !important;
}

.active-element{
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--tertiary-dark);
}

/* -- Home Bar -- */
.home-bar{
    display: flex;
    align-items: center;
    padding: 10px 0px;
    height: 30px;
}

.home-button, .search-bar{
    height: 100%;
    display: flex;
    justify-content: center;
}

.home-button{
    max-width: 100px;
    width: 20%;
    min-width: 50px;
}
.home-button > img{
    transition: all 0.05s;
    cursor: pointer;
}

.home-button > img, .search-bar > img{
    height: 100%;
    width: fit-content;
}

.home-button > img:hover{
    scale: 1.1;
}

.search-bar{
    display: flex;
    position: relative;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

.search-bar > input{
    width: 70%
}